<div class="btn-group">
	<%=link_to t(:new_training), {:action => :new}, {:class => "btn btn-default"}%>
	<%=link_to t(:delete_selected), {}, {:class => "btn btn-default"}%>
</div>
<div class="btn-group">
	<%=link_to t(:import_from_excel), {}, {:class => "btn btn-default"}%>
	<%=link_to t(:export_from_excel), {}, {:class => "btn btn-default"}%>
</div>
<div class="btn-group">
	<%=link_to t(:search), {}, {:class => "btn btn-default"}%>
</div>