<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:employees)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li class="active"><%=t(:employees)%></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<%=render :partial => "tools_partial"%>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th><%=t(:idnumber)%></th>
						<th><%=t(:firstname)%></th>
						<th><%=t(:lastname)%></th>
					</tr>
				</thead>
				<tbody>
					<%if @employees.blank?%>
					<tr>
						<td colspan="4"> <%=t(:no_data)%></td>
					</tr>
					<%else%>
						<%@employees.each do |w|%>
						<tr>
							<td><%=link_to w.rut, employee_path(w.id)%></td>
							<td><%=w.firstname%></td>
							<td><%=w.lastname1%></td>
						</tr>
						<%end%>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>
