<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:employees)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li class="active"><%=t(:employees)%></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<%=render :partial => "tools_partial"%>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped" id="employees-table">
				<thead>
					<tr>
						<th><%=t(:idnumber)%></th>
						<th><%=t(:firstname)%></th>
						<th><%=t(:lastname1)%></th>
						<th><%=t(:lastname2)%></th>
						<th><%=t(:contractor)%></th>
						<th style="text-align: center; width: 170px;"><%=t(:actions)%></th>
					</tr>
				</thead>
				<tbody>
					<%if @employees.blank?%>
					<tr>
						<td colspan="5"> <%=t(:no_data)%></td>
					</tr>
					<%else%>
						<%@employees.each do |w|%>
						<tr>
							<td><%=link_to w.rut, employee_path(w.id)%></td>
							<td><%=w.firstname%></td>
							<td><%=w.lastname1%></td>
							<td><%=w.lastname2%></td>
							<td><%=active_employee_contractor(w.id)%></td>
							<td style="text-align: center;">
								<div class="btn-group">
									<%=link_to fa_icon("eye fa-4")+" "+t(:view), employee_path(w.id), {:class => "btn btn-default"}%>
									<%=link_to fa_icon("edit fa-4")+" "+t(:edit), edit_employee_path(w.id), {:class => "btn btn-default"}%>
								</div>
							</td>
						</tr>
						<%end%>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function() {
        $("#employees-table").dataTable();
    });
</script>