<header class="header">
    <%=link_to "Kongo", root_path, :class => "logo"%>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- /.navbar-header -->
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-warning"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Alarmas de Longbourn</li>
                        <li>
                            <ul class="menu">
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-lg fa-fw"></i>
                        <span><%=@current_user.name%> <i class="fa fa-caret-down"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header bg-light-blue">
                            <p><%=@current_user.name%></p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <%=link_to "User Profile", {:controller => :users, :action => :profile}, {:class => "btn btn-default btn-flat"}%>
                            </div>
                            <div class="pull-right">
                                <%=link_to "Logout", {:controller => :users, :action => :logout}, {:class => "btn btn-default btn-flat"}%>
                            </div>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                </div>
                <div class="pull-left info">
                    <p>Hola, <%=@current_user.name%></p>

                    <i class="fa fa-circle text-success"></i> Online
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="treeview <%=activate_menu_item("trainings", controller_name)%>">
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i>
                        <span><%=t(:users)%></span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><%=link_to :controller => :users, :action => :index do%>
                            <i class="fa fa-angle-double-right"></i> <%=t(:users_list)%>
                            <%end%>
                        </li>
                        <li><%=link_to :controller => :users, :action => :new do%>
                            <i class="fa fa-angle-double-right"></i> <%=t(:new_user)%>
                            <%end%>
                        </li>
                    </ul>
                </li>
                <li class="treeview <%=activate_menu_item("trainings", controller_name)%>">
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Capacitaciones</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><%=link_to :controller => :trainings, :action => :index do%>
                            <i class="fa fa-angle-double-right"></i> Listado Capacitaciones
                            <%end%>
                        </li>
                    </ul>
                </li>
                <li class="treeview <%=activate_menu_item("job_profiles", controller_name)%>">
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Perfiles de Trabajo</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><%=link_to :controller => :job_profiles, :action => :index do%>
                            <i class="fa fa-angle-double-right"></i> Perfiles de Trabajo
                            <%end%>
                        </li>
                    </ul>
                </li>
                <li class="treeview <%=activate_menu_item("workers", controller_name)%>">
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Trabajadores</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><%=link_to :controller => :workers, :action => :index do%>
                            <i class="fa fa-angle-double-right"></i> Listado Trabajadores
                            <%end%>
                        </li>
                    </ul>
                </li>
                <li class="treeview <%=activate_menu_item("contractors", controller_name)%>">
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Contratistas</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><%=link_to :controller => :contractors, :action => :index do%>
                            <i class="fa fa-angle-double-right"></i> Listado Contratistas
                            <%end%>
                        </li>
                    </ul>
                </li>
                <li class="treeview <%=activate_menu_item("services", controller_name)%>">
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Servicios</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><%=link_to :controller => :services, :action => :index do%>
                            <i class="fa fa-angle-double-right"></i> Listado Servicios
                            <%end%>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <aside class="right-side">
    <!-- </aside> cierra en footer -->
<!-- </div> cierra en footer -->

