<div class="navbar navbar-default navbar-fixed-top">  
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Kongo</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><%=t(:colaborators)%> <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">

            <li><%=link_to t(:colaborators_list), employees_path%></li>
            <li><%=link_to t(:colaborators_profiles), {}%></li>
            <li class="divider"></li>
            <li><%=link_to t(:external_colaborators_list), {}%></li>
            <li><%=link_to t(:external_colaborator_profiles), {}%></li>
            <li class="divider"></li>
            <li><%=link_to t(:reports), {}%></li>

          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><%=t(:trainings)%> <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">

            <li><%=link_to t(:training_actions), {}%></li>
            <li><%=link_to t(:training_needs), {}%></li>
            <li class="divider"></li>
            <li><%=link_to t(:employee_trainings), {}%></li>
            <li><%=link_to t(:profile_trainings), {}%></li>
            <li class="divider"></li>
            <li><%=link_to t(:trainings_catalog), trainings_path%></li>
            <li class="divider"></li>
            <li><%=link_to t(:training_providers), {}%></li>
            <li><%=link_to t(:training_teachers), {}%></li>
            <li class="divider"></li>
            <li><%=link_to t(:reports), {}%></li>

          </ul>
        </li>


        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><%=t(:certifications)%> <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">

            <li><%=link_to t(:certification_actions), {}%></li>
            <li><%=link_to t(:certification_needs), {}%></li>
            <li class="divider"></li>
            <li><%=link_to t(:colaborator_certificates), {}%></li>
            <li><%=link_to t(:profile_certificates), {}%></li>
            <li class="divider"></li>
            <li><%=link_to t(:certificates_catalog), {}%></li>
            <li class="divider"></li>
            <li><%=link_to t(:certificate_providers)%></li>
            <li><%=link_to t(:auditors)%></li>
            <li class="divider"></li>
            <li><%=link_to t(:reports), {}%></li>

          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><%=t(:contractors)%> <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">

            <li><%=link_to t(:contractors_list), contractors_path%></li>
            <li><%=link_to t(:services_list), services_path%></li>
            <li class="divider"></li>
            <li><%=link_to t(:reports), {}%></li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a href="/alarms.php"><%=t(:notifications)%> <span class="badge">9</span></a></li>
        <li><a href="/alarms.php"><%=t(:alarms)%> <span class="badge">18</span></a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="configuration"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="configuration">

            <li><a href="/settings.php"><%=t(:configuration)%></a></li>
            <li><a href="/users.php"><%=t(:admin_users)%></a></li>
            <li class="divider"></li>
            <li><a href="#"><%=t(:logout)%></a></li>

          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>