<section class="content-header no-margin">
    <h1>
        <%=@current_user.name%>
        <small><%=t(:user_profile)%></small>
    </h1>
    <ol class="breadcrumb">
    	<li><%=@current_user.name%></li>
        <li><%=t(:user_profile)%></li>
        <li class="active"><%=t(:change_password)%></li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title"><%=t(:change_password)%></h3>
				</div>
				<%=form_tag update_password_users_path do%>
				<div class="box-body">
					<%if flash[:notice]%>
	                    <div class="callout callout-warning">
	                     	<%=flash[:notice]%>  
	                    </div>
	                <%end%>
					<div class="form-group">
						<label><%=t(:old_password)%></label>
						<%=password_field_tag :old_password, nil, :class => "form-control"%>
					</div>
					<div class="form-group">
						<label><%=t(:new_password)%></label>
						<%=password_field_tag :new_password, nil, :class => "form-control"%>
					</div>
					<div class="form-group">
						<label><%=t(:confirm_new_password)%></label>
						<%=password_field_tag :new_password_confirm, nil, :class => "form-control"%>
					</div>
				</div>
				<div class="box-footer clearfix">
					<%=submit_tag t(:save), :class => "btn btn-primary pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>