<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:users)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li class="active"><%=t(:users)%></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<%=render :partial => "tools_partial"%>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><%=t(:idnumber)%></th>
						<th><%=t(:firstname)%></th>
						<th><%=t(:lastname)%></th>
						<th><%=t(:username)%></th>
						<th><%=t(:role)%></th>
						<th style="text-align: center; width: 170px;"><%=t(:actions)%></th>
					</tr>
				</thead>
				<tbody>
					<%if @users.blank?%>
					<tr>
						<td colspan="6"><%=t(:no_data)%></td>
					</tr>
					<%else%>
						<%@users.each do |u|%>
						<tr>
							<td><%=link_to u.idnumber, user_path(u.id)%></td>
							<td><%=u.firstname%></td>
							<td><%=u.lastname%></td>
							<td><%=u.username%></td>
							<td><%=user_role(u.role_id)%></td>
							<td style="text-align: center;">
								<div class="btn-group">
									<%=link_to fa_icon("eye fa-4")+" "+t(:view), user_path(u.id), {:class => "btn btn-default"}%>
									<%=link_to fa_icon("edit fa-4")+" "+t(:edit), edit_user_path(u.id), {:class => "btn btn-default"}%>
								</div>
							</td>
						</tr>
						<%end%>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>