<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:users)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li><%=link_to t(:users), users_path%></li>
					<li class="active"><%=t(:new_user)%></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"><%=t(:new_user)%></h3>
				</div>
				<%=form_for @user do |f|%>
				<div class="panel-body">
                    <%if @user.errors.any?%>
                        <div class="alert alert-warning">
                            <h4><%=pluralize(@user.errors.count,"error")%> no permitieron llevar a cabo la operacion</h4>
                            <ul>
                                <%@user.errors.full_messages.each do |msg|%>
                                    <li><%= msg %></li>
                                <%end%>
                            </ul>
                        </div>
                    <%end%>
					<div class="row">
						<div class="form-group col-xs-6">
							<label><%=t(:name)%></label>
							<%=f.text_field :firstname, :class => "form-control"%>
						</div>
						<div class="form-group col-xs-6">
							<label><%=t(:lastname)%></label>
							<%=f.text_field :lastname, :class => "form-control"%>
						</div>
						<div class="form-group col-xs-6">
							<label><%=t(:email)%></label>
							<%=f.email_field :email, :class => "form-control"%>
						</div>
						<div class="form-group col-xs-6">
							<label><%=t(:confirm_email)%></label>
							<%=f.email_field :email_confirmation, :class => "form-control"%>
						</div>
						<div class="form-group col-xs-6">
							<label><%=t(:password)%></label>
							<%=f.password_field :password, :class => "form-control"%>
						</div>
						<div class="form-group col-xs-6">
							<label><%=t(:confirm_password)%></label>
							<%=f.password_field :password_confirm, :class => "form-control"%>
						</div>
						<div class="form-group col-xs-6">
							<label><%=t(:idnumber)%></label>
							<%=f.text_field :idnumber, :class => "form-control"%>
						</div>
						<div class="form-group col-xs-6">
							<label><%=t(:role)%></label>
							<%=f.select :role_id, options_for_select(@user_roles.collect{|r| [r.name,r.id]}), {}, {:class => "form-control"}%>
						</div>
						<div class="form-group col-xs-6">
							<label><%=t(:language)%></label>
							<%=f.select :lang, options_for_select([["Español","es"],["English","en"]], "es"), {}, {:class => "form-control"}%>
						</div>
					</div>
				</div>
				<div class="panel-footer clearfix">
					<%=f.submit "Crear Usuario", :class => "btn btn-default pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>