<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:users)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li><%=link_to t(:users), users_path%></li>
					<li class="active"><%=@current_user.name%></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"> <%=t(:profile)%> - <%=@current_user.name%></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<table class="table table-striped">
								<tr>
									<th><%=t(:name)%></th>
									<td><%=@current_user.name%></td>
								</tr>
								<tr>
									<th><%=t(:email)%></th>
									<td><%=@current_user.email%></td>
								</tr>
								<tr>
									<th><%=t(:username)%></th>
									<td><%=@current_user.username%></td>
								</tr>
							</table>
						</div>
						<div class="col-xs-6">
							<table class="table table-striped">
								<tr>
									<th><%=t(:idnumber)%></th>
									<td><%=@current_user.idnumber%></td>
								</tr>
								<tr>
									<th><%=t(:role)%></th>
									<td><%=user_role(@current_user.role_id)%></td>
								</tr>
								<tr>
									<th><%=t(:last_login)%></th>
									<td><%=l(@current_user.last_access, :format => :default)%></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="panel-footer clearfix">
						<%=link_to t(:change_password), {:action => :change_password}, {:class => "btn btn-default pull-right"}%>
				</div>
			</div>
		</div>
	</div>
</div>