<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:users)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li><%=link_to t(:users), users_path%></li>
					<li class="active"><%=@user.name%></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"><%=t(:general_data)%> - <%=@user.name%></h3>
					<div class="btn-group pull-right">
						<%=link_to t(:edit_user), edit_user_path(@user.id), {:class => "btn btn-default btn-sm"}%>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<table class="table table-striped">
								<tr>
									<th><%=t(:name)%></th>
									<td><%=@user.firstname%></td>
								</tr>
								<tr>
									<th><%=t(:lastname)%></th>
									<td><%=@user.lastname%></td>
								</tr>
								<tr>
									<th><%=t(:idnumber)%></th>
									<td><%=@user.idnumber%></td>
								</tr>
								<tr>
									<th><%=t(:email)%></th>
									<td><%=@user.email%></td>
								</tr>
								<tr>
									<th><%=t(:username)%></th>
									<td><%=@user.username%></td>
								</tr>
							</table>
						</div>
						<div class="col-xs-6">
							<table class="table table-striped">
								<tr>
									<th><%=t(:language)%></th>
									<td><%=@user.lang%></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>