<section class="content-header no-margin">
    <h1>
        Contratistas
        <small>Editar Contratista</small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Listado de Contratistas", {:action => :index}%></li>
        <li class="active">Editar Contratista</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Editar Contratista</h3>
				</div>
				<%=form_for @contractor do |f|%>
				<div class="box-body">
                    <%if @contractor.errors.any?%>
                        <div class="callout callout-warning">
                            <h4><%=pluralize(@contractor.errors.count,"error")%> <%=t(:submit_error_msg)%></h4>
                            <ul>
                                <%@contractor.errors.full_messages.each do |msg|%>
                                    <li><%= msg %></li>
                                <%end%>
                            </ul>
                        </div>
                    <%end%>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="form-group">
								<label><%=t(:name) %></label>
								<%=f.text_field :commercial_name, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label><%=t(:business_name)%></label>
								<%=f.text_field :business_name, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label><%=t(:idnumber)%></label>
								<%=f.text_field :rut, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label><%=t(:email)%></label>
								<%=f.email_field :email, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label><%=t(:observations)%></label>
								<%=f.text_field :observations, :class => "form-control"%>
							</div>
						</div>
						<div class="col-xs-5 col-xs-offset-1">
							<div class="form-group">
								<label><%=t(:region)%></label>
								<%=f.select :region, options_for_select([nil]), {}, {:class => "form-control"}%>
							</div>
						</div>
						<div class="col-xs-5">
							<div class="form-group">
								<label><%=t(:commune)%></label>
								<%=f.select :comuna, options_for_select([nil]), {}, {:class => "form-control"}%>
							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1">
							<div class="form-group">
								<label><%=t(:address)%></label>
								<%=f.text_field :address, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label><%=t(:status)%></label>
								<%=f.select :status_id, options_for_select(@contractor_statuses.collect{|s| [s.name, s.id]}, @contractor.status_id), {}, {:class => "form-control"}%>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer clearfix">
					<%=f.submit t(:edit), :class => "btn btn-primary btn-lg pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>