<section class="content-header no-margin">
    <h1>
        <%=t(:new_worker)%>
        <small><%=@contractor.commercial_name%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Listado de Contratistas", :action => :index%></li>
        <li><%=link_to "Detalles de Contratista", contractor_path(@contractor.id)%></li>
        <li class="active"><%=t(:new_worker)%></li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title"><%=t(:new_worker)%></h3>
					<div class="box-tools">
						<%=link_to "Creación Masiva", {:action => :bulk_new_workers, :params => {:id => @contractor.id}}, {:class => "btn btn-default pull-right"}%>
					</div>
				</div>
				<%=form_for :worker, :url => {:action => :create_worker} do |f|%>
				<%=f.hidden_field :contractor_id, :value => @contractor.id%>
				<div class="box-body">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="form-group">
								<label>Nombres</label>
								<%=f.text_field :firstname, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label>Apellido Paterno</label>
								<%=f.text_field :lastname1, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label>Apellido Materno</label>
								<%=f.text_field :lastname2, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label style="display: block;">Género</label>
								<%=f.radio_button :gender, "Masculino"%> Masculino
								<%=f.radio_button :gender, "Femenino"%> Femenino
							</div>
							<div class="form-group">
								<label>Email</label>
								<%=f.email_field :email, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label>Rut</label>
								<%=f.text_field :rut, :class => "form-control"%>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer clearfix">
					<%=f.submit "Crear", :class => "btn btn-primary pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>