<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:contractors)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li><%=link_to t(:contractors), employees_path%></li>
					<li><%=link_to @contractor.commercial_name, contractor_path(@contractor.id)%></li>
					<li class="active"><%=t(:new_service)%></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"><%=t(:new_service)%></h3>
				</div>
				<%=form_for :contractor_service, :url => {:action => :bind_service} do |f|%>
				<%=f.hidden_field :contractor_id, :value => @contractor.id%>
				<div class="panel-body">
					<%if @contractor_service.errors.any?%>
                        <div class="alert alert-warning">
                            <h4><%=pluralize(@contractor_service.errors.count,"error")%> <%=t(:submit_error_msg)%></h4>
                            <ul>
                                <%@contractor_service.errors.full_messages.each do |msg|%>
                                    <li><%= msg %></li>
                                <%end%>
                            </ul>
                        </div>
                    <%end%>
					<div class="row">
						<div class="form-group col-xs-12">
							<label>Servicio</label>
							<%=f.select :service_id, options_for_select(@services.collect{|s| [s.name, s.id]}), {}, {:class => "form-control"}%>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-6">
							<label>Fecha de Inicio</label> <br>
							<%=f.text_field :service_start_date, {:class => "form-control", :data => {:provide => "datepicker", "date-format" => "dd-mm-yyyy"}}%>
						</div>
						<div class="form-group col-xs-6">
							<label>Fecha de Término</label> <br>
							<%=f.text_field :service_end_date, {:class => "form-control", :data => {:provide => "datepicker", "date-format" => "dd-mm-yyyy"}}%>
						</div>
					</div>
				</div>
				<div class="panel-footer clearfix">
					<%=f.submit t(:create), :class => "btn btn-default pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>