<section class="content-header no-margin">
    <h1>
        <%=t(:new_service)%>
        <small><%=@contractor.commercial_name%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Listado de Contratistas", :action => :index%></li>
        <li><%=link_to "Detalles de Contratista", contractor_path(@contractor.id)%></li>
        <li class="active">Nuevo Servicio</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title"><%=t(:service)%></h3>
				</div>
				<%=form_for :contractor_service, :url => {:action => :bind_service} do |f|%>
				<%=f.hidden_field :contractor_id, :value => @contractor.id%>
				<div class="box-body">
                    <%if @contractor_service.errors.any?%>
                        <div class="callout callout-warning">
                            <h4><%=pluralize(@contractor_service.errors.count,"error")%> <%=t(:submit_error_msg)%></h4>
                            <ul>
                                <%@contractor_service.errors.full_messages.each do |msg|%>
                                    <li><%= msg %></li>
                                <%end%>
                            </ul>
                        </div>
                    <%end%>
					<div class="row">
						<div class="form-group col-xs-12">
							<label>Servicio</label>
							<%=f.select :service_id, options_for_select(@services.collect{|s| [s.name, s.id]}), {}, {:class => "form-control"}%>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-6">
							<label>Fecha de Inicio</label> <br>
							<%=f.text_field :service_start_date, {:class => "form-control", :data => {:provide => "datepicker", "date-format" => "dd-mm-yyyy"}}%>
						</div>
						<div class="form-group col-xs-6">
							<label>Fecha de Término</label> <br>
							<%=f.text_field :service_end_date, {:class => "form-control", :data => {:provide => "datepicker", "date-format" => "dd-mm-yyyy"}}%>
						</div>
					</div>
				</div>
				<div class="box-footer clearfix">
					<%=f.submit "Asociar", :class => "btn btn-primary pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>