<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:contractors)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li><%=link_to t(:contractors), employees_path%></li>
					<li class="active"><%=@contractor.commercial_name%></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"><%=t(:contractor_profile)%></h3>
					<div class="button-group pull-right">
						<%=link_to t(:edit_contractor), edit_contractor_path(@contractor.id), {:class => "btn btn-default btn-sm"}%>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<table class="table table-striped">
								<tr>
									<th>Nombre Comercial</th>
									<td><%=@contractor.commercial_name%></td>
								</tr>
								<tr>
									<th>Razon Social</th>
									<td><%=@contractor.business_name%></td>
								</tr>
								<tr>
									<th>Rut</th>
									<td><%=@contractor.rut%></td>
								</tr>
								<tr>
									<th>Email Contacto</th>
									<td><%=@contractor.email%></td>
								</tr>
								<tr>
									<th>Observaciones</th>
									<td><%=@contractor.observations%></td>
								</tr>
							</table>
						</div>
						<div class="col-xs-6">
							<table class="table table-striped">
								<tr>
									<th>País</th>
									<td><%=@contractor.country%></td>
								</tr>
								<tr>
									<th>Región</th>
									<td><%=@contractor.region%></td>
								</tr>
								<tr>
									<th>Comuna</th>
									<td><%=@contractor.comuna%></td>
								</tr>
								<tr>
									<th>Direccion</th>
									<td><%=@contractor.address%></td>
								</tr>
								<tr>
									<th>Estado de Contratista</th>
									<td><%=contractor_status(@contractor.status_id)%></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"><%=t(:contractor_services)%></h3>
					<div class="button-group pull-right">
						<%=link_to t(:new_service), {:action => :new_service, :params => {:id => @contractor.id}}, {:class => "btn btn-default btn-sm"}%>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Servicio</th>
								<th>Fecha Inicio</th>
								<th>Fecha Término</th>
							</tr>
						</thead>
						<tbody>
							<%if @contractor_services.blank?%>
								<tr>
									<td colspan="3">No hay datos para mostrar</td>
								</tr>
							<%else%>
								<%@contractor_services.each do |cs|%>
								<tr>
									<td><%=service_name(cs.id)%></td>
									<td><%=l(cs.service_start_date, :format => :default)%></td>
									<td><%=l(cs.service_end_date, :format => :default)%></td>
								</tr>
								<%end%>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">Trabajadores</h3>
					<div class="button-group pull-right">
						<%=link_to t(:new_employee), {:action => :new_employee, :params => {:id => @contractor.id}}, {:class => "btn btn-default btn-sm"}%>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><%=t(:idnumber)%></th>
								<th><%=t(:name)%></th>
								<th><%=t(:lastname)%></th>
								<th><%=t(:gender)%></th>
							</tr>
						</thead>
						<tbody>
							<%if @contractor_workers.blank?%>
								<tr>
									<td colspan="3">No hay datos para mostrar.</td>
								</tr>
							<%else%>
								<%@contractor_workers.each do |cw|%>
								<tr>
									<td><%=cw.rut%></td>
									<td><%=cw.firstname%></td>
									<td><%=cw.lastname1%></td>
									<td><%=cw.gender%></td>
								</tr>
								<%end%>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>