<section class="content-header no-margin">
    <h1>
        <%=t(:bulk_new_workers)%>
        <small><%=@contractor.commercial_name%></small>
    </h1>
    <ol class="breadcrumb">
    	<li><%=link_to t(:workers), :action => :index%></li>
        <li><%=link_to t(:contractor_select), :action => :contractor_select%></li>
        <li class="active"><%=@contractor.commercial_name%></li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title"><%=t(:workers_file_configuration)%></h3>
				</div>
				<%=form_tag bulk_create_workers_path, :multipart => true do%>
				<%=hidden_field_tag :workers_file_path, @file.path%>
				<%=hidden_field_tag :contractor_id, @contractor.id%>
				<div class="box-body">
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<table class="table">
								<thead>
									<tr>
										<th><%=t(:worker_attribute)%></th>
										<th><%=t(:file_column)%></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><%=t(:firstname)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:lastname1)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:lastname2)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:idnumber)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:birthday)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:gender)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:address)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:region)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:commune)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:country)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:phone)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:cellphone)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:email)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
									<tr>
										<td><%=t(:observations)%></td>
										<td><%=select_tag "file_column[]", options_for_select(@file_headers.collect{|h| [h, @file_headers.index(h)]}), {:class => "form-control", :include_blank => true}%></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="box-footer clearfix">
					<%=submit_tag "Crear", :class => "btn btn-primary pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>