<section class="content-header no-margin">
    <h1>
        <%=t(:workers)%>
        <small><%=t(:edit_worker)%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to t(:workers_list), {:action => :index}%></li>
        <li class="active"><%=t(:edit_worker)%></li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title"><%=t(:edit_worker)%></h3>
				</div>
				<%=form_for @worker do |f|%>
				<div class="box-body">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="form-group">
								<label>Nombres</label>
								<%=f.text_field :firstname, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label>Apellido Paterno</label>
								<%=f.text_field :lastname1, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label>Apellido Materno</label>
								<%=f.text_field :lastname2, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label style="display: block;">Género</label>
								<%=f.radio_button :gender, "Masculino"%> Masculino
								<%=f.radio_button :gender, "Femenino"%> Femenino
							</div>
							<div class="form-group">
								<label>Email</label>
								<%=f.email_field :email, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label>Rut</label>
								<%=f.text_field :rut, :class => "form-control"%>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer clearfix">
					<%=f.submit t(:edit), :class => "btn btn-primary pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>