<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="nav-tabs"><%=t(:job_profiles)%></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><%=link_to t(:home), root_path%></li>
					<li class="active"><%=t(:job_profiles)%></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<%=render :partial => "tools_partial"%>
			</div>
		</div>
	</div>
</div>

<div class="container">	
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><%=t(:name)%></th>
						<th><%=t(:description)%></th>
						<th style="text-align: center; width: 170px;"><%=t(:actions)%></th>
					</tr>
				</thead>
				<tbody>
					<%if @job_profiles.blank?%>
					<tr>
						<td colspan="3"><%=t(:no_data)%></td>
					</tr>
					<%else%>
						<%@job_profiles.each do |j|%>
						<tr>
							<td><%=link_to j.name, job_profile_path(j.id)%></td>
							<td><%=j.description.truncate(40)%></td>
							<td>
								<div class="btn-group">
									<%=link_to fa_icon("eye fa-4")+" "+t(:view), job_profile_path(j.id), {:class => "btn btn-default"}%>
									<%=link_to fa_icon("edit fa-4")+" "+t(:edit), edit_job_profile_path(j.id), {:class => "btn btn-default"}%>
								</div>
							</td>
						</tr>
						<%end%>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>