<section class="content-header no-margin">
    <h1>
        <%=t(:job_profile)%>
        <small><%=t(:new_job_profile)%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to t(:job_profile_list), {:action => :index}%></li>
        <li class="active"><%=t(:new_job_profile)%></li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title"><%=t(:new_job_profile)%></h3>
				</div>
				<%=form_for @job_profile do |f|%>
				<div class="box-body">
                    <%if @job_profile.errors.any?%>
                        <div class="callout callout-warning">
                            <h4><%=pluralize(@job_profile.errors.count,"error")%> <%=t(:submit_error_msg)%></h4>
                            <ul>
                                <%@job_profile.errors.full_messages.each do |msg|%>
                                    <li><%= msg %></li>
                                <%end%>
                            </ul>
                        </div>
                    <%end%>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="form-group">
								<label>Nombre</label>
								<%=f.text_field :name, :class => "form-control"%>
							</div>
							<div class="form-group">
								<label>Descripción</label>
								<%=f.text_field :description, :class => "form-control"%>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h4><%=t(:prerequisites)%></h4>
						</div>
						<div class="col-xs-10 col-xs-offset-1">
							<%@trainings.each do |t|%>
							<div class="col-xs-6">
								<div class="form-group">
									<%=check_box_tag "trainings[]", t.id%> <label><%=t.name%></label>
								</div>
							</div>
							<%end%>
						</div>
					</div>
				</div>
				<div class="box-footer clearfix">
					<%=f.submit "Crear", :class => "btn btn-primary btn-lg pull-right"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>